$large-screen: 1024px;
$medium-screen: 769px;
$small-screen: 768px;
@media (min-width: $large-screen) {
    .hide-large {
        display: none;
    }
}

@media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {
    .hide-medium {
        display: none;
    }
}

@media only screen and (max-width: $small-screen) {
    .hide-small {
        display: none;
    }
}
