<ion-header>
    <ion-toolbar>
        <ion-title class="hide-medium hide-small">Excel Sheet example</ion-title>
        <ion-buttons slot="end">
            <ion-button color="secondary" class="hide-large hide-medium">
                <i class="fas fa-bars"></i>
            </ion-button>
            <ion-text class="hide-small">Menu</ion-text>
        </ion-buttons>
    </ion-toolbar>
</ion-header>