.cells {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: calc(100% -20px);
    max-width: 760px;
    min-width: 760px;
}

.ion-page {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
}