<app-header></app-header>
<ion-content>
    <div class="cells">
        <lib-cell *ngFor="let cell of cells;let index=index;" (keydown)="$$entered(index, $event)"></lib-cell>
    </div>
</ion-content>