<div style="width: 150px; height: 50px; display: inline-block;">
    <ion-input #ionInput style="width: 150px;" placeholder="Enter Input" [disabled]="disabled" autofocus="true">
    </ion-input>
</div>